{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}NotePrg - Login{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <h1>Login</h1>
            <form action="{% url 'login' %}" method="post" class="form text-left">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Login</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}