{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}NotePrg - Lorem Text Generator{% endblock %}

{% block content %}
    <h1>Lorem Text Generator</h1>
    <div class="row justify-content-start">
        <div class="col-lg-6 col-md-12">
            <form action="{% url 'lorem:index' %}" method="post" class="form text-left">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Generate Lorem Text
                    </button>
                    <button type="reset" class="btn btn-secondary">
                        Reset
                    </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-lg-6 col-md-12">
            {% for lorem_paragraph in lorem_text %}
                <p class="text-justify">{{ lorem_paragraph }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}